<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Health Care Providers</title>
</head>
<body>


    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">India Rescue Mission</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
                <a href="{% url 'home-page' %}" class="mr-5 hover:text-gray-900">Home</a>
                <a href="{% url 'patient-form' %}" class="mr-5 hover:text-gray-900">Patient Form</a>
                <a href="{% url 'doctor-form' %}" class="mr-5 hover:text-gray-900">Doctors Form</a>
                <a href="{% url 'health_care_prov' %}" class="mr-5 underline hover:text-gray-900">Health Care Providers</a>
            </nav>
            <button
                class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </header>



    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">


          <div class="flex relative pt-4 pb-4 sm:items-center md:w-2/3 mx-auto bg-blue-100">
            
            
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
              <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Seal_of_Karnataka.svg/1200px-Seal_of_Karnataka.svg.png" alt="">
              </div>
              <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Karnataka</h2>
              </div>
            </div><br> <hr>
          </div>


          <div class="flex relative pt-4 pb-4 sm:items-center md:w-2/3 mx-auto bg-blue-100 ">
            
            
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
              <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center">
                <img src="https://qph.fs.quoracdn.net/main-qimg-89dc4d0e21c42c7f0778582ee45c7440" alt="">
              </div>
              <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Kerala</h2>
               
              </div>
            </div>
          </div>



          <div class="flex relative pt-4 pb-4 sm:items-center md:w-2/3 mx-auto bg-blue-100">
            
            
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
              <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center">
               <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Seal_of_Tamil_Nadu.jpg" alt="">
              </div>
              <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Tamil Nadu</h2>
              
              </div>
            </div>
            <hr>
          </div>


          <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto bg-blue-100">
            
            
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
              <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRn1d4NfRABJW8Mg8625A8UbswDOPP86-17i5kvBmsTzOMC1tfQK6epIM5Ft0LxMrcvoc&usqp=CAU" alt="">
              </div>
              <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Punjab</h2>
                
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>